{% load i18n %}

<div class="h-0 flex-grow overflow-auto" data-simplebar>

    <div class="module{% if 'asdasdasd' in request.path %} current-app{% endif %}">
        <ol class="px-6">
            <li>

                <h2>
                    <a href="{{ app.app_url }}"
                        class="block font-semibold mb-2 mt-4 text-font-important-light text-sm truncate dark:text-font-important-dark">
                        {% translate "Accounts" %}
                    </a>
                </h2>

                <ol>
                    <li class="model-user {% if 'asdasdasd' in request.path|urlencode %} current-model{% endif %}">
                        <a href="{% url 'app:accounts_user_changelist' %}" id="link-user-changelist"
                            class="block -mx-3 px-3 py-3 rounded-md truncate">
                            {% translate "Users" %}
                        </a>
                    </li>
                </ol>

            </li>
        </ol>
    </div>

</div>