////////////////////////////////////////////////////////////// COLOURS

$white: #ffffff;
$black: #252525;

$black-light: #28293D;

$grey-input: #babac8;
$grey-select: #ededf1;

$grey-darker: #8898aa;
$grey-dark: #c4c4c4;
$grey: #e5e5e5;
$grey-light: #f6f9fc;
$grey-lighter: #f0f0f0;

$orange: #e3713c;
$blue: #303c6c;
$red: #b41f43;

////////////////////////////////////////////////////////////// BULMA OVERWRITE
$primary: $orange;
$dark: $blue;
$link: $blue;
$link-hover: $blue;

$text: $black;

$radius: 8px;
$radius-small: 4px;
$radius-large: 8px;

$size-1: 4rem; // 64px
$size-2: 2rem; // 32px
$size-3: 1.5rem; // 24px
$size-4: 1.25rem; // 20px
$size-5: 1rem; // 16px
$size-6: 0.875rem; // 14px
$size-7: 0.75rem; // 12px

$size-small: $size-6;
$size-normal: $size-5;
$size-medium: $size-4;
$size-large: $size-3;

$block-spacing: 30px;

$title-color: $blue;
$title-size: $size-2;
$subtitle-negative-margin: -14px;

// body
$family-primary: 'Open Sans', sans-serif;
$family-primary-bold: 'Open Sans', sans-serif;
$family-primary-italic: 'Open Sans', sans-serif;
$body-background-color: $grey;
$body-color: $black;
$body-line-height: 1.5;

// navbar + footer
$navbar-background-color: transparent;
// $navbar-item-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-item-img-max-height: none;
$navbar-height: 6rem;
$footer-color: $grey-darker;
$footer-background-color: $grey-dark;
$footer-padding: 14px 0 32px;

// columns
$column-gap: 15px;

// controls & buttons
$control-padding-vertical: 8px;
$control-padding-horizontal: 8px;
$control-radius: $radius-small;
$control-height: 40px;
// $control-line-height: inherit;

$input-shadow: none;
$input-radius: $radius-small;
$file-radius: $radius-small;
$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: $blue;
$input-icon-color: $grey-darker;

$input-color: $blue;
$input-background-color: $white;
$input-placeholder-color: $grey-darker;
$input-border-color: $grey-input;
$input-focus-border-color: $blue;
$border-hover: $grey-darker;

$input-arrow: $blue;
$input-disabled-color: $grey-darker;
$input-disabled-background-color: $grey;
$input-disabled-border-color: $grey !important;

$file-name-border-color: $input-border-color;

$label-weight: normal;
$label-color: $grey-darker;

$button-color: $blue;
$button-padding-horizontal: 28px;


// menu
$menu-item-color: $white;
$menu-list-line-height: 19px;
$menu-item-hover-background-color: transparent;
$menu-item-active-background-color: transparent;

// modal
$modal-z: 1000;
$modal-background-background-color: rgba(0, 0, 0, 0.4);
$modal-content-width: auto;
$modal-card-title-color: inherit;
$modal-card-title-size: $size-4;
$modal-card-title-line-height: 1.4;
$modal-card-head-padding: 18px 24px;
$modal-card-head-background-color: $white;
$modal-card-head-border-bottom: none;
$modal-card-body-padding: 0 24px 6px;
$modal-card-foot-border-top: none;
$modal-close-dimensions: 30px;

// card
$card-background-color: $white;
$card-color: inherit;
$card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$card-header-shadow: none;
$card-header-color: $blue;
$card-header-padding: 20px 24px;
$card-content-padding: 0;

// datepicker
$dropdown-content-background-color: $white;
// $dropdown-content-radius: 0px;
// $dropdown-content-shadow: none;

// table
$table-color: $grey-darker;
$table-row-active-background-color: $grey-dark;
$table-row-active-color: $white;
$table-row-hover-background-color: $grey-dark;
$table-cell-padding: 22px 24px;
$table-cell-border: 1px solid $grey-lighter;
$table-head-cell-border-width: 1px 0;
$table-head-background-color: $grey-light;
$table-background-color: $white;

$pagination-item-font-size: $size-6;
$pagination-ellipsis-color: $grey-darker;

// box
$box-radius: $radius;
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$box-padding: 0;
// $box-color: $white;

// tags
$tag-radius: $radius-small;
$tag-background-color: $grey-select;

// screen
$desktop: 1080px;
// $widescreen: 1440px;
// $fullhd-disabled: true;

@import '~bulma/sass/utilities/_all.sass';
