django~=3.2.18

# celery  (to be removed in a future version)
celery>=4.0.1,<5.0.0
redis>=3.5.3,<4.0.0
django-celery-beat==2.2.0  # locked due to the celery version in d-c-results
django-celery-results>=1.2.1,<2.0.0

django-q2~=1.5.2
blessed~=1.20.0  # optional requirement for django-q2
psutil~=5.9.4  # optional requirement for django-q2
django-cors-headers~=3.14
django-crispy-forms~=1.14
django-environ~=0.10
django-extensions~=3.2
django-filter~=2.4  #??
django-guardian~=2.4  #??
django-jazzmin>~=2.6
django-sendgrid-v5~=1.2
django-storages~=1.13.2
django-storages[azure]~=1.13.2
djoser~=2.1

djangorestframework~=3.13.1
django-rest-framework-tricks~=0.2.14  # does not support drf 3.14; only used for OrderingFilter
djangorestframework-csv~=2.1.1
djangorestframework-guardian~=0.3.0  #?? abandoned; move to djangorestframework-guardian
drf-nested-routers~=0.93.4  #??
drf-tweaks~=0.9.7  # abandoned??

faker~=18.4  #??
gevent~=22.10.2
gunicorn~=20.1.0
inflection~=0.5.1
ipython~=8.12
mailchimp3~=3.0.17
pillow~=9.5.0
psycopg2-binary~=2.9
pyYAML~=6.0.0
requests~=2.28
rerun~=1.0.30
openpyxl~=3.1.2

# file storage
boto3~=1.26.109
whitenoise~=6.4.0

sentry-sdk~=1.19
